---
import Layout from '../layouts/Layout.astro';

import About from '../components/About.svelte';
import Education from '../components/Education.svelte';
import Experience from '../components/Experience.svelte';
import Footer from '../components/Footer.svelte';

import Header from '../components/Header.svelte';
import NavBar from '../components/NavBar.svelte';
import Projects from '../components/Projects.svelte';
import Research from '../components/Research.svelte';
---

<Layout title="Soymilk">
  <div class="mx-auto overflow-x-hidden bg-sky-100 dark:bg-sky-800">
    <NavBar client:only="svelte" />
    <Header client:visible />
    <main>
      <About client:visible />
      <Education client:visible />
      <Research client:visible />
      <Experience client:visible />
      <Projects client:visible />
    </main>
    <Footer client:visible />
  </div>
</Layout>

<style is:global>
  @import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Noto+Sans+TC:wght@100;200;300;400;500;600;700;800;900&family=Noto+Serif+TC:wght@200;300;400;500;600;700;900&display=swap');
</style>
