---
import Layout from '../layouts/Layout.astro';
import Preferences from '../components/Preferences.svelte';
import Header from '../components/Header.svelte';
import About from '../components/About.svelte';
import Education from '../components/Education.svelte';
import Research from '../components/Research.svelte';
import Experience from '../components/Experience.svelte';
import Projects from '../components/Projects.svelte';
import Footer from '../components/Footer.svelte';
---

<Layout title="Soymilk">
  <!-- <Preferences /> -->
  <Header client:visible />
  <main>
    <About client:visible />
    <Education client:visible />
    <Research client:visible />
    <Experience client:visible />
    <Projects client:visible />
  </main>
  <Footer client:visible />
</Layout>

<style is:global>
  @import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Noto+Sans+TC:wght@100;200;300;400;500;600;700;800;900&family=Noto+Serif+TC:wght@200;300;400;500;600;700;900&display=swap');
</style>
