---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.svelte';
import Edu from '../components/Edu.svelte';
import Exp from '../components/Exp.svelte';
---

<Layout title="Soymilk">
  <Header client:visible />
  <main>
    <Edu client:visible />
    <Exp client:visible />
  </main>
</Layout>

<style is:global>
  @import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Noto+Sans+TC:wght@100;200;300;400;500;600;700;800;900&family=Noto+Serif+TC:wght@200;300;400;500;600;700;900&display=swap');
</style>
